@using GleamTech.AspNet.Core
@using GleamTech.FileUltimate.AspNet.UI
@model FileManager

@{
    Layout = "";
}
<!DOCTYPE html>

<html>
<head>
    <title>Quản Lý Tập Tin</title>
    @this.RenderHead(Model)
</head>
<body>
    @this.RenderBody(Model)
</body>
</html>