<footer>
    <a href="https://sohagame.vn" class="logo_f"><img src="https://sohagame.mediacdn.vn/public/sohagame/logo-shg-w1.png" alt="sohagame"></a>
    <ul class="menu_f flex">
        <li><a href="/hop-tac">Hợp tác (Collaboration)</a></li>
        <li><a href="https://tuyendung.sohagame.vn">Tuyển dụng</a></li>
        <li><a href="/dieu-khoan">Điều khoản</a></li>
        <li><a href="/list-game#new">Game mới</a></li>
        <li><a href="https://nap.sohagame.vn">Nạp SohaCoin</a></li>
        <li><a href="/huong-dan">Hỗ trợ</a></li>
    </ul>
    <div class="contact_f flex">
        <a href="https://www.facebook.com/sohagame/" class="btn_facebook">facebook</a>
        <a href="https://www.youtube.com/channel/UCWbrgpd3QmJOLX3iwbnncqA/featured" class="btn_yt">youtube</a>
        <a href="tel:19006639" class="btn_phone">phone</a>
    </div>
    <div itemscope="" itemtype="http://schema.org/Organization"><span itemprop="legalName">Công ty TNHH Soha - Tầng 19, Hapulico Center Building, số 1 Nguyễn Huy Tưởng, Hà Nội.</span><br> Tel: <span itemprop="telephone">1900 6639 (Việt Nam) - 84-2473 09 6868 ( Quốc tế)</span> <br> Báo lỗi và góp ý tại: <a href="https://hotro.sohagame.vn/">hotro.sohagame.vn</a> <br></div>
</footer>