<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <link href="https://sohagame.mediacdn.vn/public/sohagame/icon-shg.png" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>2SGame - MOBILE GAME ONLINE, Game nhập vai Mới, Chơi Game Mini hay nhất</title>
    <meta name="description" content="Chơi game online, web game, game hay, game nhập vai bom tấn, game mini, casual game mới nhất tại 2SGame" />
    <meta name="keywords" content="game online,game facebook, game nong trai, game mini" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5" />
    <meta name="theme-color" content="#317EFB" />
    <link href="https://sohagame.mediacdn.vn/project/o/shgv3/both/css/PC-production-5d84b27660101f46d79fd95e86ea6629.web.css?v=11.40.23-10.11.2020" rel="stylesheet" type="text/css" />
</head>
<body class="rs">
    <header>
        <nav class="navbar">
            <a href="/" class="logo"><img src="~/images/2sgame.png" alt="2SGame"></a>
            <ul class="menu flex">
                <li><a href="/" title="">Trang chủ</a></li>
                <li>
                    <a href="https://sohagame.vn/game-mobile" title="">Games</a>
                    <div class="game_top">
                        <div class="container box-game">
                            <div class="game_list">
                                <div class="item">
                                    <a href="https://nghichthien.vn/download">
                                        <div class="img-box"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/Portal-new-HCM/Sg285/1603793061480x720.jpg" data-w="120" alt="Nghịch Thiên Với Ta" class="lazyload" data-level="6"></div>
                                        <span class="name">Nghịch Thiên Với Ta</span><span class="play">Chơi ngay</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="https://nghichmenhsu.vn/download">
                                        <div class="img-box"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/SG217/1600915002480x720.jpg" data-w="120" alt="Nghịch Mệnh Sư" class="lazyload" data-level="6"></div>
                                        <span class="name">Nghịch Mệnh Sư</span><span class="play">Chơi ngay</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="https://gianghosinhtulenh.vn/download">
                                        <div class="img-box"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/SG290/1599188488480x720.jpg" data-w="120" alt="Giang Hồ Sinh Tử Lệnh" class="lazyload" data-level="6"></div>
                                        <span class="name">Giang Hồ Sinh Tử Lệnh</span><span class="play">Chơi ngay</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="https://tantruongsinhquyet.vn/rd/taigame-landing">
                                        <div class="img-box"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/NewHCMPor-giam/Sg272/1598443898480x720.jpg" data-w="120" alt="Tân Trường Sinh Quyết" class="lazyload" data-level="6"></div>
                                        <span class="name">Tân Trường Sinh Quyết</span><span class="play">Chơi ngay</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="https://daihiepkhach.vn/download">
                                        <div class="img-box"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/SG283/1598523877480x720.jpg" data-w="120" alt="Đại Hiệp Khách" class="lazyload" data-level="6"></div>
                                        <span class="name">Đại Hiệp Khách</span><span class="play">Chơi ngay</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="https://anhkiem3d.vn/download">
                                        <div class="img-box"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/Portal-HN/1596511988480x720.jpg" data-w="120" alt="Ảnh Kiếm 3D" class="lazyload" data-level="6"></div>
                                        <span class="name">Ảnh Kiếm 3D</span><span class="play">Chơi ngay</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="https://thucson.vn/download">
                                        <div class="img-box"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/NewHCMPor-giam/sg220/1584592118480x720.jpg" data-w="120" alt="Thục Sơn Kỳ Hiệp Mobile" class="lazyload" data-level="6"></div>
                                        <span class="name">Thục Sơn Kỳ Hiệp Mobile</span><span class="play">Chơi ngay</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="https://langla.vn/download">
                                        <div class="img-box"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/NewHCMPor-giam/sg188/1584591813480x720.jpg" data-w="120" alt="Làng Lá Phiêu Lưu Ký" class="lazyload" data-level="6"></div>
                                        <span class="name">Làng Lá Phiêu Lưu Ký</span><span class="play">Chơi ngay</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="">
                                        <div class="img-box"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/CuongCa/1592897522480x720.jpg" data-w="120" alt="3Q Bá Vương" class="lazyload" data-level="6"></div>
                                        <span class="name">3Q Bá Vương</span><span class="play">Chơi ngay</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="https://mongaotutien.vn/download">
                                        <div class="img-box"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/CuongCa/1594632839480x720_tc.jpg" data-w="120" alt="Mộng Ảo Tu Tiên" class="lazyload" data-level="6"></div>
                                        <span class="name">Mộng Ảo Tu Tiên</span><span class="play">Chơi ngay</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="https://tamquoctocchien.vn/download">
                                        <div class="img-box"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/Portal-HN/1584591674480x720.jpg" data-w="120" alt="Tam Quốc Tốc Chiến" class="lazyload" data-level="6"></div>
                                        <span class="name">Tam Quốc Tốc Chiến</span><span class="play">Chơi ngay</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="https://giangsonmynhan.vn/download">
                                        <div class="img-box"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/CuongCa/1591066493480x720.jpg" data-w="120" alt="Giang Sơn Mỹ Nhân" class="lazyload" data-level="6"></div>
                                        <span class="name">Giang Sơn Mỹ Nhân</span><span class="play">Chơi ngay</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="https://gungunmobile.vn/download">
                                        <div class="img-box"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/Portal-HN/1584590762480x720.jpg" data-w="120" alt="Gun Gun Mobile" class="lazyload" data-level="6"></div>
                                        <span class="name">Gun Gun Mobile</span><span class="play">Chơi ngay</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="https://vethan.vn/download">
                                        <div class="img-box"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/NewHCMPor-giam/sg273/1584592206480x720.jpg" data-w="120" alt="Vệ Thần Mobile" class="lazyload" data-level="6"></div>
                                        <span class="name">Vệ Thần Mobile</span><span class="play">Chơi ngay</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="https://loanthe.vn/download">
                                        <div class="img-box"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/Portal-new-HCM/sg276/1590409002480x720.jpg" data-w="120" alt="Loạn Thế Anh Hùng 3Q" class="lazyload" data-level="6"></div>
                                        <span class="name">Loạn Thế Anh Hùng 3Q</span><span class="play">Chơi ngay</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="https://cuukiem3d.vn/download">
                                        <div class="img-box"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/Portal-HN/1584590146480x720.jpg" data-w="120" alt="Cửu Kiếm 3D" class="lazyload" data-level="6"></div>
                                        <span class="name">Cửu Kiếm 3D</span><span class="play">Chơi ngay</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="https://dauanrong.vn/download">
                                        <div class="img-box"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/NewHCMPor-giam/sg277/1584592325480x720.jpg" data-w="120" alt="Dấu Ấn Rồng Mobile" class="lazyload" data-level="6"></div>
                                        <span class="name">Dấu Ấn Rồng Mobile</span><span class="play">Chơi ngay</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="https://sohagame.vn/tin-tuc" title="">Tin tức</a></li>
                <li><a href="https://nap.sohagame.vn/" title="">Nạp Tiền</a></li>
                <li><a href="https://hotro.sohagame.vn/" title="">CSKH VIP <i class="icon icon-vip"></i></a></li>
            </ul>
            <form action="https://sohagame.vn/tim-kiem" method="get" class="search">
                <label for="s">Tim kiếm</label>
                <input type="text" name="s" id="s" placeholder="Tìm kiếm..." required="required">
            </form>
            <div class="login">
                @if (!User.Identity.IsAuthenticated)
                {
                    <div class="login_before"><a href="/Identity/Account/Login" title="Đăng nhập">Đăng nhập</a></div>
                }
                else
                {
                <div class="login_after pr">
                    <a href="javascript:;" class="user flex" id="user_id" data-toggle="dropdown">
                        <img src="https://s.gravatar.com/avatar/f364c2d44434c2b0d94ace7cf410825d?s=80" width="42" height="42" class="user_avatar" alt="">
                        <div class="info"><span class="name">@User.Identity.Name</span><span class="id"></span></div>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="user_id">
                        <li><a href="/Account"><i class="icon icon-protection"></i>Tài khoản</a></li>
                        <li>
                            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm">
                            </form>
                            <a href="javascript:{}" onclick="document.getElementById('logoutForm').submit();"><i class="icon icon-logout"></i>Đăng xuất</a>
                        </li>
                    </ul>
                </div>
                }
            </div>
        </nav>
        <div class="modal fade modal-video" id="modal-video">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <a href="javascript:;" class="close" data-dismiss="modal">X</a>
                    <div class="modal-body"><iframe width="560" height="315" id="ifrVideo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer>
        <a href="/" class="logo_f"><img src="~/images/2sgame-w.png" alt="sohagame"></a>
        <ul class="menu_f flex">
            <li><a href="/hop-tac">Hợp tác (Collaboration)</a></li>
            <li><a href="#">Tuyển dụng</a></li>
            <li><a href="/dieu-khoan">Điều khoản</a></li>
            <li><a href="/list-game#new">Game mới</a></li>
            <li><a href="#">Nạp Lượng</a></li>
            <li><a href="/huong-dan">Hỗ trợ</a></li>
        </ul>
        <div class="contact_f flex">
            <a href="https://www.facebook.com/sohagame/" class="btn_facebook">facebook</a>
            <a href="https://www.youtube.com/channel/UCWbrgpd3QmJOLX3iwbnncqA/featured" class="btn_yt">youtube</a>
            <a href="tel:19009999" class="btn_phone">phone</a>
        </div>
        <div itemscope="" itemtype="http://schema.org/Organization"><span itemprop="legalName">Công ty TNHH Double Star - Tầng Trệt, Double Star Building, số 1 Trần Duy Hưng, Hà Nội.</span><br> Tel: <span itemprop="telephone">1900 9999 (Việt Nam) - 1900 9999 (Quốc Tế)</span> <br> Báo lỗi và góp ý tại: <a href="#">hotro.2sgame.vn</a> <br></div>
    </footer>

    <script type="text/javascript">var shg_app = JSON.parse('{"app_key":"41c42365a47d43a5997335fe82ff6ca3","game_code":"464"}'); var shg_domain = 'https://sohagame.vn'; var shg_template = 'pc'; var shg_sitename = 'shgv3';</script>
    <script src="/js/main.js" type="text/javascript"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>