@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section class="game_slider pr">
        <div class="game_item">
            <img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/Portal-new-HCM/Sg285/16037930621920x920.jpg" alt="Nghịch Thiên Với Ta" class="img-large lazyload" data-level="1" srcset="">
            <div class="content">
                <div class="box-download flex">
                    <a href="https://nghichthien.vn/download" class="iconapp"><img src="https://sohagame.mediacdn.vn/shgdeveloper/images/package_images/Portal-new-HCM/Sg285/1601269787120x120.png" alt="Nghịch Thiên Với Ta" srcset="https://sohagame.mediacdn.vn/shgdeveloper/images/package_images/Portal-new-HCM/Sg285/1601269787120x120.png 1920w" /></a>
                    <div class="download"><a href="https://apps.apple.com/vn/app/id1490372712" title="Nghịch Thiên Với Ta app store" class="appstore">App Store</a><a href="https://play.google.com/store/apps/details?id=com.shg.sg285" title="Nghịch Thiên Với Ta google play" class="googleplay">Google Play</a></div>
                </div>
                <div class="game_info">
                    <h4 class="game_name">Nghịch Thiên Với Ta</h4>
                    <p class="des">Nghịch Thiên Với Ta là game mobile MMORPG bối cảnh tiên hiệp, với nền đồ họa Chibi dễ thương, do SohaGame phát hành tại Việt Nam.</p>
                    <a href="https://nghichthien.vn/download" title="Chơi ngay" class="btn_play"><span>Chơi ngay</span></a>
                </div>
            </div>
        </div>
        <div class="game_item">
            <img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/SG217/16009150031920x920.jpg" alt="Nghịch Mệnh Sư" class="img-large lazyload" data-level="1" srcset="">
            <div class="content">
                <div class="box-download flex">
                    <a href="https://nghichmenhsu.vn/download" class="iconapp"><img src="https://sohagame.mediacdn.vn/shgdeveloper/SG217/1600916237120x120.png" alt="Nghịch Mệnh Sư" srcset="https://sohagame.mediacdn.vn/shgdeveloper/SG217/1600916237120x120.png 1920w" /></a>
                    <div class="download"><a href="https://apps.apple.com/vn/app/ngh%E1%BB%8Bch-m%E1%BB%87nh-s%C6%B0-sohagame/id1472486031?l=vi" title="Nghịch Mệnh Sư app store" class="appstore">App Store</a><a href="https://play.google.com/store/apps/details?id=vn.shg.sg217" title="Nghịch Mệnh Sư google play" class="googleplay">Google Play</a></div>
                </div>
                <div class="game_info">
                    <h4 class="game_name">Nghịch Mệnh Sư</h4>
                    <p class="des">Game không có Tướng PHẾ - Chỉ có chọn Tướng NGU</p>
                    <a href="https://nghichmenhsu.vn/download" title="Chơi ngay" class="btn_play"><span>Chơi ngay</span></a>
                </div>
            </div>
        </div>
        <div class="game_item">
            <img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/SG290/15991884891920x920.jpg" alt="Giang Hồ Sinh Tử Lệnh" class="img-large lazyload" data-level="1" srcset="">
            <div class="content">
                <div class="box-download flex">
                    <a href="https://gianghosinhtulenh.vn/download" class="iconapp"><img src="https://sohagame.mediacdn.vn/shgdeveloper/SG290/1599188487120x120.png" alt="Giang Hồ Sinh Tử Lệnh" srcset="https://sohagame.mediacdn.vn/shgdeveloper/SG290/1599188487120x120.png 1920w" /></a>
                    <div class="download"><a href="https://apps.apple.com/vn/app/id1508100669" title="Giang Hồ Sinh Tử Lệnh app store" class="appstore">App Store</a><a href="https://play.google.com/store/apps/details?id=com.shg.sg290" title="Giang Hồ Sinh Tử Lệnh google play" class="googleplay">Google Play</a></div>
                </div>
                <div class="game_info">
                    <h4 class="game_name">Giang Hồ Sinh Tử Lệnh</h4>
                    <p class="des">Giang Hồ Sinh Tử Lệnh, hiệu lệnh võ lâm, thu phục quần hùng</p>
                    <a href="https://gianghosinhtulenh.vn/download" title="Chơi ngay" class="btn_play"><span>Chơi ngay</span></a>
                </div>
            </div>
        </div>
        <div class="game_item">
            <img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/NewHCMPor-giam/Sg272/15984438991920x920.jpg" alt="Tân Trường Sinh Quyết" class="img-large lazyload" data-level="1" srcset="">
            <div class="content">
                <div class="box-download flex">
                    <a href="https://tantruongsinhquyet.vn/rd/taigame-landing" class="iconapp"><img src="https://sohagame.mediacdn.vn/shgdeveloper/NewHCMPor-giam/Sg272/1598413525120x120.png" alt="Tân Trường Sinh Quyết" srcset="https://sohagame.mediacdn.vn/shgdeveloper/NewHCMPor-giam/Sg272/1598413525120x120.png 1920w" /></a>
                    <div class="download"><a href="https://apps.apple.com/vn/app/id1470926375" title="Tân Trường Sinh Quyết app store" class="appstore">App Store</a><a href="https://play.google.com/store/apps/details?id=com.shgame.sg272" title="Tân Trường Sinh Quyết google play" class="googleplay">Google Play</a></div>
                </div>
                <div class="game_info">
                    <h4 class="game_name">Tân Trường Sinh Quyết</h4>
                    <p class="des">Tân Trường Sinh Quyết hội tụ toàn bộ những tinh hoa của dòng game MMORPG, cộng thêm sự hậu thuẫn từ hàng loạt công nghệ đồ họa đỉnh cao nhất để trở thành một siêu phẩm hoàn mỹ, bom tấn SSS của năm</p>
                    <a href="https://tantruongsinhquyet.vn/rd/taigame-landing" title="Chơi ngay" class="btn_play"><span>Chơi ngay</span></a>
                </div>
            </div>
        </div>
        <div class="game_item">
            <img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/SG283/15985251361920x920-2-new.jpg" alt="Đại Hiệp Khách" class="img-large lazyload" data-level="1" srcset="">
            <div class="content">
                <div class="box-download flex">
                    <a href="https://daihiepkhach.vn/download" class="iconapp"><img src="https://sohagame.mediacdn.vn/shgdeveloper/SG283/1598523876120x120.png" alt="Đại Hiệp Khách" srcset="https://sohagame.mediacdn.vn/shgdeveloper/SG283/1598523876120x120.png 1920w" /></a>
                    <div class="download"><a href="https://apps.apple.com/vn/app/id1491863666" title="Đại Hiệp Khách app store" class="appstore">App Store</a><a href="https://play.google.com/store/apps/details?id=com.shg.sg283" title="Đại Hiệp Khách google play" class="googleplay">Google Play</a></div>
                </div>
                <div class="game_info">
                    <h4 class="game_name">Đại Hiệp Khách</h4>
                    <p class="des">Đại Hiệp Khách SohaGame - Game thẻ tướng 3D do người Việt phát triển, tái hiện chân thực tiểu thuyết Kim Dung và hàng loạt bí kíp võ công thượng thừa. Cùng chiêm ngưỡng cuộc tranh đoạt ngôi vị Minh Chủ võ lâm khốc liệt nhất!</p>
                    <a href="https://daihiepkhach.vn/download" title="Chơi ngay" class="btn_play"><span>Chơi ngay</span></a>
                </div>
            </div>
        </div>
        <div class="game_item">
            <img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/Portal-HN/15965119891920x920.jpg" alt="Ảnh Kiếm 3D" class="img-large lazyload" data-level="1" srcset="">
            <div class="content">
                <div class="box-download flex">
                    <a href="https://anhkiem3d.vn/download" class="iconapp"><img src="https://sohagame.mediacdn.vn/shgdeveloper/Portal-HN/1596511988120x120.png" alt="Ảnh Kiếm 3D" srcset="https://sohagame.mediacdn.vn/shgdeveloper/Portal-HN/1596511988120x120.png 1920w" /></a>
                    <div class="download"><a href="https://apps.apple.com/vn/app/id1462855703" title="Ảnh Kiếm 3D app store" class="appstore">App Store</a><a href="https://play.google.com/store/apps/details?id=com.shg.sg262" title="Ảnh Kiếm 3D google play" class="googleplay">Google Play</a></div>
                </div>
                <div class="game_info">
                    <h4 class="game_name">Ảnh Kiếm 3D</h4>
                    <p class="des">Cực phẩm game nhập vai tiên hiệp 3D, tái hiện tam giới mộng ảo, hành trình tu tiên ngạo thế chân thực nhất!</p>
                    <a href="https://anhkiem3d.vn/download" title="Chơi ngay" class="btn_play"><span>Chơi ngay</span></a>
                </div>
            </div>
        </div>
        <div class="game_item">
            <img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/images/package_images/NewHCMPor-giam/sg220/15845921191920x920.jpg" alt="Thục Sơn Kỳ Hiệp Mobile" class="img-large lazyload" data-level="1" srcset="">
            <div class="content">
                <div class="box-download flex">
                    <a href="https://thucson.vn/download" class="iconapp"><img src="https://sohagame.mediacdn.vn/shgdeveloper/Portal-new-HCM/1590546852120x120220.png" alt="Thục Sơn Kỳ Hiệp Mobile" srcset="https://sohagame.mediacdn.vn/shgdeveloper/Portal-new-HCM/1590546852120x120220.png 1920w" /></a>
                    <div class="download"><a href="https://thucson.vn/rd/landing-macvan" title="Thục Sơn Kỳ Hiệp Mobile app store" class="appstore">App Store</a><a href="https://thucson.vn/rd/landing-macvan" title="Thục Sơn Kỳ Hiệp Mobile google play" class="googleplay">Google Play</a></div>
                </div>
                <div class="game_info">
                    <h4 class="game_name">Thục Sơn Kỳ Hiệp Mobile</h4>
                    <p class="des">Thục Sơn Kỳ Hiệp Mobile là phiên bản di động chính chủ của huyền thoại Thục Sơn Kỳ Hiệp PC. Game mang đến 5 môn phái Thiếu Lâm - Thanh Thành - Côn Lôn - Bách Hoa - Đường Môn, 5 hệ tương sinh tương khắc Phật - Lôi - Thủy - Độc - Hỏa, không cấp Vip, train quái lên cấp, đặt pass rương 2 và giao dịch trực tiếp cực kỳ hoàn chỉnh của dòng game nhập vai. 80 triệu người chơi tích lũy, số người chơi online cùng lúc trong ngày đầu ra mắt đạt 500.000, thắng 8 giải thưởng ở 8 hạng mục danh giá, Top 1 game mobile tại thị trường Trung Quốc trong 3 năm liên tiếp, được các nhà NPH hàng đầu Hàn Quốc, Đài Loan, Brasil, Việt Nam, Thái Lan... kiên trì săn đón - đó là vị thế độc tôn của Thục Sơn Kỳ Hiệp Mobile mà chưa có bất kỳ gMO nào ở Việt Nam đủ &quot;trình&quot; để đạt tới.</p>
                    <a href="https://thucson.vn/download" title="Chơi ngay" class="btn_play"><span>Chơi ngay</span></a>
                </div>
            </div>
        </div>
        <div class="game_item">
            <img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/images/package_images/NewHCMPor-giam/sg188/15845918141920x920.jpg" alt="Làng Lá Phiêu Lưu Ký" class="img-large lazyload" data-level="1" srcset="">
            <div class="content">
                <div class="box-download flex">
                    <a href="https://langla.vn/download" class="iconapp"><img src="https://sohagame.mediacdn.vn/shgdeveloper/Portal-new-HCM/1591069722120x120188.png" alt="Làng Lá Phiêu Lưu Ký" srcset="https://sohagame.mediacdn.vn/shgdeveloper/Portal-new-HCM/1591069722120x120188.png 1920w" /></a>
                    <div class="download"><a href="https://apps.apple.com/vn/app/id1439879183?ls=1" title="Làng Lá Phiêu Lưu Ký app store" class="appstore">App Store</a><a href="https://play.google.com/store/apps/details?id=com.dont.catchme" title="Làng Lá Phiêu Lưu Ký google play" class="googleplay">Google Play</a></div>
                </div>
                <div class="game_info">
                    <h4 class="game_name">Làng Lá Phiêu Lưu Ký</h4>
                    <p class="des">Làng Lá Phiêu Lưu Ký - Game nhập vai hành động đề tài nhẫn giả (Ninja) hay nhất 2020. Người chơi có thể thành các nhân vật mà mình yêu thích cùng các tính năng PvP, PvE gay cấn, kịch tính. Làng Lá chơi càng đông vui, chơi càng sướng!</p>
                    <a href="https://langla.vn/download" title="Chơi ngay" class="btn_play"><span>Chơi ngay</span></a>
                </div>
            </div>
        </div>
    </section>
    <section class="topgame pr">
        <h2 class="title">Top game</h2>
        <div class="topgame_list">
            <div class="item">
                <a href="https://nghichthien.vn/download" class="game_img" title="Nghịch Thiên Với Ta"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/images/package_images/Portal-new-HCM/Sg285/1603793146200x200.png" alt="Nghịch Thiên Với Ta" data-level="2" class="lazyload" srcset=""></a>
                <h3 class="game_name"><a href="https://nghichthien.vn/download">Nghịch Thiên Với Ta</a></h3>
                <span class="number_play flex_center"><i class="icon icon-user"></i> 170.099 người chơi</span>
            </div>
            <div class="item">
                <a href="https://nghichmenhsu.vn/download" class="game_img" title="Nghịch Mệnh Sư"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/images/package_images/SG217/1600916460200x200.png" alt="Nghịch Mệnh Sư" data-level="2" class="lazyload" srcset=""></a>
                <h3 class="game_name"><a href="https://nghichmenhsu.vn/download">Nghịch Mệnh Sư</a></h3>
                <span class="number_play flex_center"><i class="icon icon-user"></i> 475.783 người chơi</span>
            </div>
            <div class="item">
                <a href="https://gianghosinhtulenh.vn/download" class="game_img" title="Giang Hồ Sinh Tử Lệnh"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/SG290/1599188488200x200.png" alt="Giang Hồ Sinh Tử Lệnh" data-level="2" class="lazyload" srcset=""></a>
                <h3 class="game_name"><a href="https://gianghosinhtulenh.vn/download">Giang Hồ Sinh Tử Lệnh</a></h3>
                <span class="number_play flex_center"><i class="icon icon-user"></i> 400.104 người chơi</span>
            </div>
            <div class="item">
                <a href="https://tantruongsinhquyet.vn/rd/taigame-landing" class="game_img" title="Tân Trường Sinh Quyết"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/NewHCMPor-giam/Sg272/1598413526200x200.png" alt="Tân Trường Sinh Quyết" data-level="2" class="lazyload" srcset=""></a>
                <h3 class="game_name"><a href="https://tantruongsinhquyet.vn/rd/taigame-landing">Tân Trường Sinh Quyết</a></h3>
                <span class="number_play flex_center"><i class="icon icon-user"></i> 549.734 người chơi</span>
            </div>
            <div class="item">
                <a href="https://daihiepkhach.vn/download" class="game_img" title="Đại Hiệp Khách"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/SG283/1598523876200x200.png" alt="Đại Hiệp Khách" data-level="2" class="lazyload" srcset=""></a>
                <h3 class="game_name"><a href="https://daihiepkhach.vn/download">Đại Hiệp Khách</a></h3>
                <span class="number_play flex_center"><i class="icon icon-user"></i> 386.172 người chơi</span>
            </div>
            <div class="item">
                <a href="https://anhkiem3d.vn/download" class="game_img" title="Ảnh Kiếm 3D"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/images/package_images/Portal-HN/1596514031268x200x200.png" alt="Ảnh Kiếm 3D" data-level="2" class="lazyload" srcset=""></a>
                <h3 class="game_name"><a href="https://anhkiem3d.vn/download">Ảnh Kiếm 3D</a></h3>
                <span class="number_play flex_center"><i class="icon icon-user"></i> 487.795 người chơi</span>
            </div>
            <div class="item">
                <a href="https://thucson.vn/download" class="game_img" title="Thục Sơn Kỳ Hiệp Mobile"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/Portal-new-HCM/1590546853200x200220.png" alt="Thục Sơn Kỳ Hiệp Mobile" data-level="2" class="lazyload" srcset=""></a>
                <h3 class="game_name"><a href="https://thucson.vn/download">Thục Sơn Kỳ Hiệp Mobile</a></h3>
                <span class="number_play flex_center"><i class="icon icon-user"></i> 3.015.875 người chơi</span>
            </div>
            <div class="item">
                <a href="https://langla.vn/download" class="game_img" title="Làng Lá Phiêu Lưu Ký"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/Portal-new-HCM/1591069801200x200188.png" alt="Làng Lá Phiêu Lưu Ký" data-level="2" class="lazyload" srcset=""></a>
                <h3 class="game_name"><a href="https://langla.vn/download">Làng Lá Phiêu Lưu Ký</a></h3>
                <span class="number_play flex_center"><i class="icon icon-user"></i> 2.906.846 người chơi</span>
            </div>
            <div class="item">
                <a href="" class="game_img" title="3Q Bá Vương"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/CuongCa/1590139364200x200.png" alt="3Q Bá Vương" data-level="2" class="lazyload" srcset=""></a>
                <h3 class="game_name"><a href="">3Q Bá Vương</a></h3>
                <span class="number_play flex_center"><i class="icon icon-user"></i> 507.636 người chơi</span>
            </div>
            <div class="item">
                <a href="https://mongaotutien.vn/download" class="game_img" title="Mộng Ảo Tu Tiên"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/CuongCa/1593059325icon_200_x_200.png" alt="Mộng Ảo Tu Tiên" data-level="2" class="lazyload" srcset=""></a>
                <h3 class="game_name"><a href="https://mongaotutien.vn/download">Mộng Ảo Tu Tiên</a></h3>
                <span class="number_play flex_center"><i class="icon icon-user"></i> 541.943 người chơi</span>
            </div>
        </div>
        <ul class="skeleton1 flex">
            <li>
                <div class="skeleton1__img skeleton1__item"></div>
                <div class="skeleton1__name skeleton1__item"></div>
                <div class="skeleton1__play skeleton1__item"></div>
            </li>
            <li>
                <div class="skeleton1__img skeleton1__item"></div>
                <div class="skeleton1__name skeleton1__item"></div>
                <div class="skeleton1__play skeleton1__item"></div>
            </li>
            <li>
                <div class="skeleton1__img skeleton1__item"></div>
                <div class="skeleton1__name skeleton1__item"></div>
                <div class="skeleton1__play skeleton1__item"></div>
            </li>
            <li>
                <div class="skeleton1__img skeleton1__item"></div>
                <div class="skeleton1__name skeleton1__item"></div>
                <div class="skeleton1__play skeleton1__item"></div>
            </li>
            <li>
                <div class="skeleton1__img skeleton1__item"></div>
                <div class="skeleton1__name skeleton1__item"></div>
                <div class="skeleton1__play skeleton1__item"></div>
            </li>
            <li>
                <div class="skeleton1__img skeleton1__item"></div>
                <div class="skeleton1__name skeleton1__item"></div>
                <div class="skeleton1__play skeleton1__item"></div>
            </li>
        </ul>
    </section>
    <section class="newgame">
        <h2 class="title">Game mới ra mắt</h2>
        <div class="newgame_list flex">
            <div class="item">
                <div class="box_img pr"><a href="https://nghichthien.vn/download" title="Nghịch Thiên Với Ta" class="game_img"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/Portal-new-HCM/Sg285/1603793061384x480.jpg" alt="Nghịch Thiên Với Ta" class="lazyload" data-level="4" srcset="" /></a><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/images/package_images/Portal-new-HCM/Sg285/1601269787120x120.png" alt="Nghịch Thiên Với Ta" class="iconapp lazyload" data-level="3" srcset="" /></div>
                <div class="content">
                    <h3 class="game_name"><a href="https://nghichthien.vn/download" title="Nghịch Thiên Với Ta">Nghịch Thiên Với Ta</a></h3>
                    <p>Nghịch Thiên Với Ta là game mobile MMORPG bối cảnh tiên hiệp, với nền đồ họa Chibi dễ thương, do SohaGame phát hành tại Việt Nam.</p>
                    <a href="https://nghichthien.vn/download" title="Nghịch Thiên Với Ta" class="btn_play">Chơi ngay</a>
                </div>
            </div>
            <div class="item">
                <div class="box_img pr"><a href="https://nghichmenhsu.vn/download" title="Nghịch Mệnh Sư" class="game_img"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/SG217/1600915002384x480.jpg" alt="Nghịch Mệnh Sư" class="lazyload" data-level="4" srcset="" /></a><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/SG217/1600916237120x120.png" alt="Nghịch Mệnh Sư" class="iconapp lazyload" data-level="3" srcset="" /></div>
                <div class="content">
                    <h3 class="game_name"><a href="https://nghichmenhsu.vn/download" title="Nghịch Mệnh Sư">Nghịch Mệnh Sư</a></h3>
                    <p>Game không có Tướng PHẾ - Chỉ có chọn Tướng NGU</p>
                    <a href="https://nghichmenhsu.vn/download" title="Nghịch Mệnh Sư" class="btn_play">Chơi ngay</a>
                </div>
            </div>
            <div class="item">
                <div class="box_img pr"><a href="https://gianghosinhtulenh.vn/download" title="Giang Hồ Sinh Tử Lệnh" class="game_img"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/SG290/1599188488384x480.jpg" alt="Giang Hồ Sinh Tử Lệnh" class="lazyload" data-level="4" srcset="" /></a><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/SG290/1599188487120x120.png" alt="Giang Hồ Sinh Tử Lệnh" class="iconapp lazyload" data-level="3" srcset="" /></div>
                <div class="content">
                    <h3 class="game_name"><a href="https://gianghosinhtulenh.vn/download" title="Giang Hồ Sinh Tử Lệnh">Giang Hồ Sinh Tử Lệnh</a></h3>
                    <p>Giang Hồ Sinh Tử Lệnh, hiệu lệnh võ lâm, thu phục quần hùng</p>
                    <a href="https://gianghosinhtulenh.vn/download" title="Giang Hồ Sinh Tử Lệnh" class="btn_play">Chơi ngay</a>
                </div>
            </div>
            <div class="item">
                <div class="box_img pr"><a href="https://tantruongsinhquyet.vn/rd/taigame-landing" title="Tân Trường Sinh Quyết" class="game_img"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/NewHCMPor-giam/Sg272/1598443898384x480.jpg" alt="Tân Trường Sinh Quyết" class="lazyload" data-level="4" srcset="" /></a><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/NewHCMPor-giam/Sg272/1598413525120x120.png" alt="Tân Trường Sinh Quyết" class="iconapp lazyload" data-level="3" srcset="" /></div>
                <div class="content">
                    <h3 class="game_name"><a href="https://tantruongsinhquyet.vn/rd/taigame-landing" title="Tân Trường Sinh Quyết">Tân Trường Sinh Quyết</a></h3>
                    <p>Tân Trường Sinh Quyết hội tụ toàn bộ những tinh hoa của dòng game MMORPG, cộng thêm sự hậu thuẫn từ hàng loạt công nghệ đồ họa đỉnh cao nhất để trở thành một siêu phẩm hoàn mỹ, bom tấn SSS của năm</p>
                    <a href="https://tantruongsinhquyet.vn/rd/taigame-landing" title="Tân Trường Sinh Quyết" class="btn_play">Chơi ngay</a>
                </div>
            </div>
            <div class="item">
                <div class="box_img pr"><a href="https://daihiepkhach.vn/download" title="Đại Hiệp Khách" class="game_img"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/SG283/1598523876384x480.jpg" alt="Đại Hiệp Khách" class="lazyload" data-level="4" srcset="" /></a><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/SG283/1598523876120x120.png" alt="Đại Hiệp Khách" class="iconapp lazyload" data-level="3" srcset="" /></div>
                <div class="content">
                    <h3 class="game_name"><a href="https://daihiepkhach.vn/download" title="Đại Hiệp Khách">Đại Hiệp Khách</a></h3>
                    <p>Đại Hiệp Khách SohaGame - Game thẻ tướng 3D do người Việt phát triển, tái hiện chân thực tiểu thuyết Kim Dung và hàng loạt bí kíp võ công thượng thừa. Cùng chiêm ngưỡng cuộc tranh đoạt ngôi vị Minh Chủ võ lâm khốc liệt nhất!</p>
                    <a href="https://daihiepkhach.vn/download" title="Đại Hiệp Khách" class="btn_play">Chơi ngay</a>
                </div>
            </div>
        </div>
        <a href="/list-game#new" title="Xem thêm" class="btn_viewmore flex_center"><span>Xem thêm</span></a>
    </section>
    <section class="highlightgame">
        <h2 class="title">Game nổi bật</h2>
        <div class="highlightgame_list flex">
            <div class="item pr">
                <div class="img_box"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/Portal-new-HCM/Sg285/1603793061480x720.jpg" alt="Nghịch Thiên Với Ta" class="lazyload" data-level="5" srcset="" /></div>
                <div class="content flex">
                    <p class="des"> Nghịch Thiên Với Ta là game mobile MMORPG bối cảnh tiên hiệp, với nền đồ họa Chibi dễ thương, do SohaGame phát hành tại Việt Nam. </p>
                    <h4 class="name">Nghịch Thiên Với Ta</h4>
                </div>
                <div class="game_btn flex_center"><a href="javascript:popupVideo('2_ZIAgBCAhY')" class="trailer" title="Trailer">Trailer</a><a href="https://nghichthien.vn/" title="Trang chủ">Trang chủ</a><a href="https://www.facebook.com/nghichthienvoita.vn" title="Fanpage" class="fanpage"><i class="icon icon-face"></i> Fanpage</a></div>
            </div>
            <div class="item pr">
                <div class="img_box"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/SG217/1600915002480x720.jpg" alt="Nghịch Mệnh Sư" class="lazyload" data-level="5" srcset="" /></div>
                <div class="content flex">
                    <p class="des"> Game không có Tướng PHẾ - Chỉ có chọn Tướng NGU </p>
                    <h4 class="name">Nghịch Mệnh Sư</h4>
                </div>
                <div class="game_btn flex_center"><a href="javascript:popupVideo('21--nkxTe1w')" class="trailer" title="Trailer">Trailer</a><a href="https://nghichmenhsu.vn" title="Trang chủ">Trang chủ</a><a href="https://www.facebook.com/nghichmenhsu.vn" title="Fanpage" class="fanpage"><i class="icon icon-face"></i> Fanpage</a></div>
            </div>
            <div class="item pr">
                <div class="img_box"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/SG290/1599188488480x720.jpg" alt="Giang Hồ Sinh Tử Lệnh" class="lazyload" data-level="5" srcset="" /></div>
                <div class="content flex">
                    <p class="des"> Giang Hồ Sinh Tử Lệnh, hiệu lệnh võ lâm, thu phục quần hùng </p>
                    <h4 class="name">Giang Hồ Sinh Tử Lệnh</h4>
                </div>
                <div class="game_btn flex_center"><a href="javascript:popupVideo('mZDoKURopkQ')" class="trailer" title="Trailer">Trailer</a><a href="https://gianghosinhtulenh.vn" title="Trang chủ">Trang chủ</a><a href="https://www.facebook.com/ghsinhtulenh/" title="Fanpage" class="fanpage"><i class="icon icon-face"></i> Fanpage</a></div>
            </div>
            <div class="item pr">
                <div class="img_box"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/NewHCMPor-giam/Sg272/1598443898480x720.jpg" alt="Tân Trường Sinh Quyết" class="lazyload" data-level="5" srcset="" /></div>
                <div class="content flex">
                    <p class="des"> Tân Trường Sinh Quyết hội tụ toàn bộ những tinh hoa của dòng game MMORPG, cộng thêm sự hậu thuẫn từ hàng loạt công nghệ đồ họa đỉnh cao nhất để trở thành một siêu phẩm hoàn mỹ, bom tấn SSS của năm </p>
                    <h4 class="name">Tân Trường Sinh Quyết</h4>
                </div>
                <div class="game_btn flex_center"><a href="javascript:popupVideo('IWFsdLX4y9s')" class="trailer" title="Trailer">Trailer</a><a href="https://tantruongsinhquyet.vn/" title="Trang chủ">Trang chủ</a><a href="https://www.facebook.com/tantruongsinhquyet" title="Fanpage" class="fanpage"><i class="icon icon-face"></i> Fanpage</a></div>
            </div>
            <div class="item pr">
                <div class="img_box"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/SG283/1598523877480x720.jpg" alt="Đại Hiệp Khách" class="lazyload" data-level="5" srcset="" /></div>
                <div class="content flex">
                    <p class="des"> Đại Hiệp Khách SohaGame - Game thẻ tướng 3D do người Việt phát triển, tái hiện chân thực tiểu thuyết Kim Dung và hàng loạt bí kíp võ công thượng thừa. Cùng chiêm ngưỡng cuộc tranh đoạt ngôi vị Minh Chủ võ lâm khốc liệt nhất! </p>
                    <h4 class="name">Đại Hiệp Khách</h4>
                </div>
                <div class="game_btn flex_center"><a href="javascript:popupVideo('2T5yq8lvpZE')" class="trailer" title="Trailer">Trailer</a><a href="https://daihiepkhach.vn" title="Trang chủ">Trang chủ</a><a href="https://www.facebook.com/DaiHiepKhach" title="Fanpage" class="fanpage"><i class="icon icon-face"></i> Fanpage</a></div>
            </div>
            <div class="item pr">
                <div class="img_box"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/Portal-HN/1596511988480x720.jpg" alt="Ảnh Kiếm 3D" class="lazyload" data-level="5" srcset="" /></div>
                <div class="content flex">
                    <p class="des"> Cực phẩm game nhập vai tiên hiệp 3D, tái hiện tam giới mộng ảo, hành trình tu tiên ngạo thế chân thực nhất! </p>
                    <h4 class="name">Ảnh Kiếm 3D</h4>
                </div>
                <div class="game_btn flex_center"><a href="javascript:popupVideo('bv669Ei9EQE')" class="trailer" title="Trailer">Trailer</a><a href="https://anhkiem3d.vn/" title="Trang chủ">Trang chủ</a><a href="https://www.facebook.com/AnhKiem3D" title="Fanpage" class="fanpage"><i class="icon icon-face"></i> Fanpage</a></div>
            </div>
            <div class="item pr">
                <div class="img_box"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/NewHCMPor-giam/sg220/1584592118480x720.jpg" alt="Thục Sơn Kỳ Hiệp Mobile" class="lazyload" data-level="5" srcset="" /></div>
                <div class="content flex">
                    <p class="des"> Thục Sơn Kỳ Hiệp Mobile là phiên bản di động chính chủ của huyền thoại Thục Sơn Kỳ Hiệp PC. Game mang đến 5 môn phái Thiếu Lâm - Thanh Thành - Côn Lôn - Bách Hoa - Đường Môn, 5 hệ tương sinh tương khắc Phật - Lôi - Thủy - Độc - Hỏa, không cấp Vip, train quái lên cấp, đặt pass rương 2 và giao dịch trực tiếp cực kỳ hoàn chỉnh của dòng game nhập vai. 80 triệu người chơi tích lũy, số người chơi online cùng lúc trong ngày đầu ra mắt đạt 500.000, thắng 8 giải thưởng ở 8 hạng mục danh giá, Top 1 game mobile tại thị trường Trung Quốc trong 3 năm liên tiếp, được các nhà NPH hàng đầu Hàn Quốc, Đài Loan, Brasil, Việt Nam, Thái Lan... kiên trì săn đón - đó là vị thế độc tôn của Thục Sơn Kỳ Hiệp Mobile mà chưa có bất kỳ gMO nào ở Việt Nam đủ &quot;trình&quot; để đạt tới. </p>
                    <h4 class="name">Thục Sơn Kỳ Hiệp Mobile</h4>
                </div>
                <div class="game_btn flex_center"><a href="javascript:popupVideo('CWo6RmyRVMo')" class="trailer" title="Trailer">Trailer</a><a href="https://thucson.vn/teaser" title="Trang chủ">Trang chủ</a><a href="https://www.facebook.com/ThucSonMobile/" title="Fanpage" class="fanpage"><i class="icon icon-face"></i> Fanpage</a></div>
            </div>
            <div class="item pr">
                <div class="img_box"><img src="https://sohagame.mediacdn.vn/thumb_w/50/shgdeveloper/NewHCMPor-giam/sg188/1584591813480x720.jpg" alt="Làng Lá Phiêu Lưu Ký" class="lazyload" data-level="5" srcset="" /></div>
                <div class="content flex">
                    <p class="des"> Làng Lá Phiêu Lưu Ký - Game nhập vai hành động đề tài nhẫn giả (Ninja) hay nhất 2020. Người chơi có thể thành các nhân vật mà mình yêu thích cùng các tính năng PvP, PvE gay cấn, kịch tính. Làng Lá chơi càng đông vui, chơi càng sướng! </p>
                    <h4 class="name">Làng Lá Phiêu Lưu Ký</h4>
                </div>
                <div class="game_btn flex_center"><a href="javascript:popupVideo('CZjpHtd6DvI')" class="trailer" title="Trailer">Trailer</a><a href="https://langla.vn/landing" title="Trang chủ">Trang chủ</a><a href="https://www.facebook.com/langlaphieuluuky" title="Fanpage" class="fanpage"><i class="icon icon-face"></i> Fanpage</a></div>
            </div>
        </div>
        <a href="/list-game" title="Xem thêm" class="btn_viewmore flex_center"><span>Xem thêm</span></a>
    </section>
    <section class="newsgame">
        <h2 class="title">Tin tức</h2>
        <ul class="newsgame_tab flex">
            <li><a href="javascript:void(0)" title="Tin game">Tin game</a></li>
            <li><a href="javascript:void(0)" title="Sự kiện">Sự kiện</a></li>
        </ul>
        <div class="newsgame_content">
            <div class="post_list flex">
                <article class="post">
                    <a href="https://sohagame.vn/tin-tuc/thong-bao-don-vi-tich-diem-moi-cho-cac-san-pham-tu-sohagame-26196.html" class="img-news"><img src="https://sohagame.mediacdn.vn/thumb_w/20/public/sohagame/tichdiemshg.png" alt="[Thông Báo] Đơn vị tích điểm mới cho các sản phẩm từ SohaGame" data-w="350" data-level="7" class="lazyload" srcset="" /></a>
                    <h3><a href="https://sohagame.vn/tin-tuc/thong-bao-don-vi-tich-diem-moi-cho-cac-san-pham-tu-sohagame-26196.html" title="[Thông Báo] Đơn vị tích điểm mới cho các sản phẩm từ SohaGame">[Thông Báo] Đơn vị tích điểm mới cho các sản phẩm từ SohaGame</a></h3>
                    <span class="line"></span><time>28.10.2020</time>
                </article>
                <article class="post">
                    <a href="https://sohagame.vn/tin-tuc/hot-nap-sohacoin-tang-them-4-hoan-tien-50k-khi-thanh-toan-qua-vi-vtc-pay-26194.html" class="img-news"><img src="https://sohagame.mediacdn.vn/thumb_w/20/public/sohagame/vtc1.png" alt="[HOT] NẠP SOHACOIN: TẶNG THÊM 4%, HOÀN TIỀN 50K KHI THANH TOÁN QUA VÍ VTC PAY" data-w="350" data-level="7" class="lazyload" srcset="" /></a>
                    <h3><a href="https://sohagame.vn/tin-tuc/hot-nap-sohacoin-tang-them-4-hoan-tien-50k-khi-thanh-toan-qua-vi-vtc-pay-26194.html" title="[HOT] NẠP SOHACOIN: TẶNG THÊM 4%, HOÀN TIỀN 50K KHI THANH TOÁN QUA VÍ VTC PAY">[HOT] NẠP SOHACOIN: TẶNG THÊM 4%, HOÀN TIỀN 50K KHI THANH TOÁN QUA VÍ VTC PAY</a></h3>
                    <span class="line"></span><time>01.10.2020</time>
                </article>
                <article class="post">
                    <a href="https://sohagame.vn/tin-tuc/giai-tri-co-hoi-lap-doi-chien-game-voi-combo-voucher-120k-26192.html" class="img-news"><img src="https://sohagame.mediacdn.vn/thumb_w/20/public/sohagame/seki-soha-1.jpg" alt="GIẢI TRÍ CÓ HỘI- LẬP ĐỘI CHIẾN GAME VỚI COMBO VOUCHER 120K " data-w="350" data-level="7" class="lazyload" srcset="" /></a>
                    <h3><a href="https://sohagame.vn/tin-tuc/giai-tri-co-hoi-lap-doi-chien-game-voi-combo-voucher-120k-26192.html" title="GIẢI TRÍ CÓ HỘI- LẬP ĐỘI CHIẾN GAME VỚI COMBO VOUCHER 120K ">GIẢI TRÍ CÓ HỘI- LẬP ĐỘI CHIẾN GAME VỚI COMBO VOUCHER 120K </a></h3>
                    <span class="line"></span><time>29.06.2020</time>
                </article>
                <article class="post">
                    <a href="https://sohagame.vn/tin-tuc/sohagame-thay-doi-chinh-sach-dich-vu-ke-tu-01-06-2020-26190.html" class="img-news"><img src="https://sohagame.mediacdn.vn/thumb_w/20/public/sohagame/aaaaa.jpg" alt="SohaGame thay đổi chính sách dịch vụ kể từ 01/06/2020" data-w="350" data-level="7" class="lazyload" srcset="" /></a>
                    <h3><a href="https://sohagame.vn/tin-tuc/sohagame-thay-doi-chinh-sach-dich-vu-ke-tu-01-06-2020-26190.html" title="SohaGame thay đổi chính sách dịch vụ kể từ 01/06/2020">SohaGame thay đổi chính sách dịch vụ kể từ 01/06/2020</a></h3>
                    <span class="line"></span><time>02.06.2020</time>
                </article>
                <article class="post">
                    <a href="https://sohagame.vn/tin-tuc/thuc-son-ky-hiep-mobile-dac-quyen-qua-tri-an-vip-26164.html" class="img-news"><img src="https://sohagame.mediacdn.vn/thumb_w/20/public/sg220/quatrianvip.jpg" alt="[Thục Sơn Kỳ Hiệp Mobile] Đặc Quyền - Quà Tri Ân VIP" data-w="350" data-level="7" class="lazyload" srcset="" /></a>
                    <h3><a href="https://sohagame.vn/tin-tuc/thuc-son-ky-hiep-mobile-dac-quyen-qua-tri-an-vip-26164.html" title="[Thục Sơn Kỳ Hiệp Mobile] Đặc Quyền - Quà Tri Ân VIP">[Thục Sơn Kỳ Hiệp Mobile] Đặc Quyền - Quà Tri Ân VIP</a></h3>
                    <span class="line"></span><time>11.05.2020</time>
                </article>
            </div>
            <a href="https://sohagame.vn/tin-tuc" title="Xem thêm" class="btn_viewmore flex_center"><span>Xem thêm</span></a>
        </div>
        <div class="newsgame_content">
            <div class="post_list flex">
                <div style="text-align: center; width: 100%">Đang cập nhật...</div>
            </div>
            <a href="https://sohagame.vn/su-kien" title="Xem thêm" class="btn_viewmore flex_center"><span>Xem thêm</span></a>
        </div>
    </section>
</main>