@model MobileGamePort.Models.News
@{
    ViewData["Title"] = Model.Title;
}

<main>
    <div class="shg_title">
        <h1 class="title">Tin tức</h1>
    </div>
    <div class="news pr">
        <div class="news_detail container">
            <h2 class="page_title">@Model.Title</h2>
            <a href="javascript:history.back()" class="btn_back">Quay lại</a>
            <time>@(Model.CreatedAt)</time>
            <article class="detail">
                @Html.Raw(@Model.Content)
            </article>
        </div>
    </div>
</main>