<div class="footer-basic">
    <footer>

        <ul class="list-inline">
            <li class="list-inline-item"><a href="/">Trang chủ</a></li>
            <li class="list-inline-item"><a href="https://www.facebook.com/TrungKenbiGame/">Fanpage</a></li>
            <li class="list-inline-item"><a href="#">Điều Khoản</a></li>
        </ul>
        <p class="copyright">2S Game © @DateTime.Now.Year</p>
    </footer>
</div>
