<a class="navbar-brand navbar-brand-centered" href="/"><img src="~/images/2sgame.png" width="140"></a>
<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="navbar-collapse collapse" id="navbarSupportedContent" style="">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">
                <i class="fa fa-home"></i>
                Trang chủ
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-credit-card">
                    <span class="badge badge-warning">KM</span>
                </i>
                Nạp tiền
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/Account/Payment">Nạp Ví Momo</a>
                <a class="dropdown-item" href="/Account/Payment">Nạp Ngân Hàng</a>
                <a class="dropdown-item" href="/Account/Payment">Nạp Thẻ Cào</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Account/Exchange">
                <i class="fa fa-lg fa-exchange-alt">
                </i>
                Nạp game
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" role="button" asp-area="Admin" asp-controller="Home">
                <i class="fad fa-lg fa-cogs" style="--fa-primary-color: orangered; --fa-secondary-color: mediumpurple;">
                </i><br />
                Quản trị
            </a>
        </li>
    </ul>


    <ul class="navbar-nav ">

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-users">
                </i>
                Cộng đồng
            </a>
            <div class="dropdown-menu" aria-labelledby="accountDropdown">

                <a target="_blank" href="https://www.facebook.com/TrungKenbiGame/" class="dropdown-item "><i class="fab fa-facebook fa-lg" aria-hidden="true"></i> Fanpage</a>
                <a target="_blank" href="https://www.facebook.com/groups/MobiPow/" class="dropdown-item "><i class="fab fa-facebook fa-lg" aria-hidden="true"></i> Group</a>

            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-list">
                </i>
                Tính năng
            </a>
            <div class="dropdown-menu" aria-labelledby="accountDropdown">

                <a href="/Account/Payment" class="dropdown-item "><i class="fad fa-wallet fa-lg" aria-hidden="true"></i> Nạp tiền</a>
                <a href="/Account/Exchange" class="dropdown-item "><i class="fad fa-exchange-alt fa-lg" aria-hidden="true"></i> Nạp game</a>
                <a href="/Account/PaymentLog" class="dropdown-item "><i class="fad fa-history fa-lg" aria-hidden="true"></i> Lịch sử nạp</a>
                <a href="/Account/Webshop" class="dropdown-item "><i class="fad fa-store fa-lg" aria-hidden="true"></i> Cửa hàng</a>

            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user"></i>@User.Identity.Name<span class="niceUsername"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="accountDropdown">
                <a class="dropdown-item" href="/Identity/Account/Manage/ChangePassword">Đổi mật khẩu</a>
                <a class="dropdown-item" href="/Account">Thông tin tài khoản</a>
                <div class="dropdown-divider"></div>
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button class="dropdown-item"><i class="fad fa-sign-out"></i> Đăng xuất</button>
                </form>
            </div>
        </li>
    </ul>

</div>

