<div class="col-lg-12 col-md-12 mb-lg-0">
    <!--Card-->
    <div class="card testimonial-card blue-gradient border-0">
        <!--Background color-->
        <div class="card-up"></div>
        <!--Avatar-->
        <div class="avatar mx-auto white">
            <img id="avatar" src="~/assets/img/default_avatar.png" class="rounded-circle img-fluid">
        </div>
        <div class="card-body text-center">
            <!--Name-->
            <div class="verifyShow" id="verifyShow"></div>
            <h4 class="font-weight-bold mb-4 fullname_txt text-light">Xin chào, @User.Identity.Name !</h4>
            <!--<button onclick="attendance();" type="button" class="btn btn-info ">
                Điểm danh <span class="badge badge-warning">nhận Bắp</span>
            </button>-->
        </div>
    </div>
    <!--Card-->
</div>

