@model MobileGamePort.Models.Game

@{
    ViewData["Title"] = "Sửa Trò Chơi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col mb-2">
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">
                    <i class="fa fa-list" aria-hidden="true"></i> @ViewData["Title"]
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <!-- Tab 1 thông tin tài khoản -->
            <div class="tab-pane active border border-top-0 p-3" role="tabpanel" id="tab-1">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Image" class="control-label"></label>
                        <input asp-for="Image" class="form-control" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Sửa" class="btn btn-primary" />
                    </div>
                </form>
                <div>
                    <a asp-action="Index">Danh sách trò chơi</a>
                </div>

            </div>
        </div>
    </div>
</div>
