<div class="app-wrapper-footer">
    <div class="app-footer">
        <div class="app-footer__inner">
            <div class="app-footer-left">
                <ul class="nav">
                    <li class="nav-item">
                        <span href="javascript:void(0);" class="nav-link">
                            ©2020 - Cổng Game 2sGame
                        </span>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0);" class="nav-link">
                            Điều khoản sử dụng
                        </a>
                    </li>
                </ul>
            </div>
            <div class="app-footer-right">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="javascript:void(0);" class="nav-link">
                            Chính sách quyền riêng tư
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0);" class="nav-link">
                            Chính sách bảo mật
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>