
@{
    ViewData["ShowProfile"] = "True";
    ViewData["Title"] = "Quản lý tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col mb-2">
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1"><i class="fa fa-list" aria-hidden="true"></i> Thông tin</a></li>
        </ul>
        <div class="tab-content">
            <!-- Tab 1 thông tin tài khoản -->
            <div class="tab-pane active border border-top-0 p-3" role="tabpanel" id="tab-1">
                <form method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputFullname">Họ và tên</label>
                            <input type="text" class="form-control fullname" placeholder="Tài khoản" value="@User.Identity.Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Email" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputAddress2">Số điện thoại</label>
                        <input type="text" class="form-control" id="phonenumber" placeholder="Số điện thoại" value="">
                    </div>
                </form>
            </div>
            <!-- list game -->
        </div>
    </div>
</div>

